@import url('../colors.css');
@import url('../styles.css');

.container {
    display: flex;
    height: 100vh;
    justify-content: space-between; /* aligne les enfants avec de l'espace entre eux */
    align-items: left;
    flex-direction: column; /* aligne les enfants verticalement au centre */
    max-width: none;
    width: 100%; /* Assurez-vous qu'il occupe toute la largeur */
    margin: 0; /* Aucune marge qui pourrait le restreindre */
    overflow-y: hidden;
  }

/* -------- TOP BAR -------- */

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0px 20px;
    position: relative;
    width: auto; /* Assurez-vous qu'il occupe toute la largeur */
  }
  
.site-name {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: bold;
    color: var(--color-dusty-rose);
    align-self: center;
    margin-top: 25px;
  }

.site-name span {
    font-size: inherit; /* Cela appliquera la même taille de police que le conteneur */
    font-weight: inherit; /* Hérite le poids de police du conteneur */
    color: var(--color-tan);
  }
  
.nav-links a {
    text-decoration: none;
    color: #fff; /* Couleur des liens */
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }

  .nav-links {
    padding: 0px 0px;
    margin-left: 7vw;
    margin-right: 9vw;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: color 0.3s;
    flex-grow: 1;
    display: flex;
    align-items: stretch; 
    justify-content: center;
  }
  
  .top-bar .nav-button:hover {
    color: #ddd; /* Couleur au survol */
    background-color: var(--color-dusty-rose);
  }

  .nav-links .nav-button {
    flex-grow: 1;
    width: 100%; /* Utiliser toute la largeur dans le menu */
    padding: 10px 20px;
    margin-right: 1px;
    text-align: center;
    background: var(--color-vivid-pink);
    border: none;
    align-items: center;
    color: #fff;
    /* autres styles pour les boutons dans le menu */
  }

  .nav-button.active {
    background: var(--color-dusty-rose);
  }

  .hamburger {
    display: none; /* Caché par défaut */
  }
  
/* Sur les petits écrans */
@media (max-width: 768px) {
    .hamburger {
      display: block; /* Afficher le bouton hamburger */
      position: relative;
      background-color: #fff;
      border: none;
      color: var(--color-vivid-pink);
      font-size: 1.2em;
    }
  
    .nav-links {
        display: flex;
        flex-direction: column; /* Affichage en colonne pour le menu déroulant */
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff; /* ou toute autre couleur */
        width: 50%; /* Faites en sorte que le menu occupe toute la largeur */
        padding: 0px;
        max-height: 0;
        overflow: hidden;
        transform: translateY(-10px) scaleY(0.95); /* Légèrement en haut et réduit */
        opacity: 0; /* Commence invisible */
        transition: transform 0.9s ease, opacity 0.5s ease;
    }

    .nav-links a {
        display: block; /* Affiche chaque lien sur sa propre ligne */
        margin-bottom: 15px; /* Espacement entre les liens */
        font-size: 1.2em; /* Augmentez la taille de la police */
        text-align: right; /* Aligner le texte à droite */
        text-transform: uppercase; /* Mettre le texte en majuscules */
      }
  
    .nav-links.open {
        max-height: 300px; /* Ajustez en fonction de la hauteur de votre menu */
        transform: translateY(0) scaleY(1); 
        opacity: 1;
        display: flex; /* Afficher le menu quand il est ouvert */
    }
  }

  /* -------- SIDE BAR -------- */
  
  .sidebar {
        width: 100%; /* Pleine largeur sur les petits écrans */
        background-color: var(--color-pale-pink);
  }
  
  /* Sur les écrans plus grands, utilisez une largeur fixe ou relative */
  @media (min-width: 768px) {
    .sidebar {
      width: 450px; /* ou une largeur en pourcentage/vw */
      background-color: var(--color-pale-pink);
    }
  }
  .sidebar-photo {
    /* Styles pour la section photo */
    text-align: center; /* Centrer la photo si nécessaire */
  }
  
  .profile-pic {
    width: 100%; /* ou une autre taille selon votre design */
    min-width: 50vh;
    max-height: 55vh;
    height: auto;
    object-fit: cover;
    object-position: 100% 45%;
  }

  .sidebar-text {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: var(--color-pale-pink);
  }
  
  .sidebar-info {
    /* Styles pour la section d'informations */
    padding: 20px;
    background-color: var(--color-pale-pink);
    margin-left: 12%;
    /* Autres styles pour bien présenter vos informations */
  }

  .sidebar-title {
    color: var(--color-dark-maroon); /* Couleur du titre */
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 25px;
    /* Autres styles pour le titre */
  }

  .fa-envelope, .fa-phone, .fa-house, .fa-circle-user, .fa-laptop {
    margin-right: 17px; /* Espace entre l'icône et le texte */
    color: var(--color-dark-maroon); /* Couleur des icônes */
  }

  .sidebar .social-links {
    display: flex;
    justify-content: center; /* Centre les icônes horizontalement */
    align-items: center; /* Centre les icônes verticalement */
    padding: 10px;
    /* margin-top: 20px; */
  }
  
  .sidebar .social-links a {
    margin: 0 15px; /* Espacement entre les icônes */
    color: var(--color-dark-maroon); /* Couleur des icônes */
    font-size: 24px; /* Taille des icônes */
  }
  
  .sidebar .social-links a:hover {
    color: #555; /* Couleur au survol */
  }

  .hack {
    height: 40px;
  }

  /* -------- CONTENT AREA -------- */

  .content-area {
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 768px) {
    .content-area {
        flex-direction: column;
      }
  }

  .main-content {
    /* Styles pour la section de contenu */
    position: relative;
    flex-grow: 1;
    background-color: var(--color-light-tan);
    overflow-y: scroll;
  }
  
  /* Footer.css */
.footer {
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2; /* Vous pouvez changer la couleur de fond */
    color: #666; /* Couleur du texte */
    font-size: 0.8em;
  }
  