@import url('../colors.css');
@import url('../styles.css');

.container {
    display: flex;
    height: 100vh;
    justify-content: space-between; /* aligne les enfants avec de l'espace entre eux */
    align-items: left;
    flex-direction: column; /* aligne les enfants verticalement au centre */
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-vivid-pink); /* Choisissez une couleur de fond */
    position: relative;
  }
  
  .site-name {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-dusty-rose);
    /* Autres styles pour le nom du site */
  }
  
  .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #b9e8db; /* Couleur des liens */
    /* Autres styles pour les liens */
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }

  .hamburger {
    display: none; /* Caché par défaut */
  }
  
/* Sur les petits écrans */
@media (max-width: 768px) {
    .hamburger {
      display: block; /* Afficher le bouton hamburger */
      position: relative;
    }
  
    .nav-links {
        display: flex;
        flex-direction: column; /* Affichage en colonne pour le menu déroulant */
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff; /* ou toute autre couleur */
        width: 50%; /* Faites en sorte que le menu occupe toute la largeur */
        padding: 10px;
        max-height: 0;
        overflow: hidden;
        transform: translateY(-10px) scaleY(0.95); /* Légèrement en haut et réduit */
        opacity: 0; /* Commence invisible */
        transition: transform 0.9s ease, opacity 0.5s ease;
    }

    .nav-links a {
        display: block; /* Affiche chaque lien sur sa propre ligne */
        margin-bottom: 15px; /* Espacement entre les liens */
        font-size: 1.2em; /* Augmentez la taille de la police */
        text-align: right; /* Aligner le texte à droite */
        text-transform: uppercase; /* Mettre le texte en majuscules */
      }
  
    .nav-links.open {
        max-height: 300px; /* Ajustez en fonction de la hauteur de votre menu */
        transform: translateY(0) scaleY(1); 
        opacity: 1;
        display: flex; /* Afficher le menu quand il est ouvert */
    }
  }
  
  .sidebar {
        width: 100%; /* Pleine largeur sur les petits écrans */

    background-color: var(--color-pale-pink);
  }
  
  /* Sur les écrans plus grands, utilisez une largeur fixe ou relative */
  @media (min-width: 768px) {
    .sidebar {
      width: 500px; /* ou une largeur en pourcentage/vw */

    background-color: var(--color-pale-pink);
    }
  }
  .sidebar-photo {
    /* Styles pour la section photo */
    text-align: center; /* Centrer la photo si nécessaire */
  }
  
  .profile-pic {
    width: 100%; /* ou une autre taille selon votre design */
    max-height: 500px;
    height: auto;
    object-fit: cover;
    object-position: 100% 45%;
    border-radius: 1%; /* pour une image ronde */
    margin: 10px 0; /* ajustez selon vos besoins */
  }
  
  .sidebar-info {
    /* Styles pour la section d'informations */
    font-family: 'Roboto', sans-serif;
    padding: 20px; /* Ajouter du padding */
    background-color: var(--color-pale-pink);
    margin-left: 12%;
    /* Autres styles pour bien présenter vos informations */
  }

  .sidebar-title {
    color: #210a0a; /* Couleur du titre */
    margin-bottom: 25px;
    /* Autres styles pour le titre */
  }
  
  .sidebar-info p {
    color: var(--color-dark-maroon); /* Couleur du texte */
    /* Autres styles pour le paragraphe */
  }

  .fa-envelope, .fa-phone {
    margin-right: 8px; /* Espace entre l'icône et le texte */
    color: var(--color-dark-maroon); /* Couleur des icônes */
  }

  
  .main-content {
    /* Styles pour la section de contenu */
    flex-grow: 1;
  }
  
  