@import url('./Home.css');

.titre {
    margin-top: 10vh;
    margin-left: 10vh;
  }

  .titre .name {
    color: var(--color-dark-maroon);
    font-size: 3em;
    font-weight: bold;
  }

  .technical-skills {
    margin-top: 40px;
    margin-left: 50px;
    color: black;
  }

  
  .skill-name {
    font-size: 1em;
    margin-bottom: 5px;
    margin-left: 50px;
    padding: 20px;
  }

  .skills-bars {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crée deux colonnes de taille égale */
    gap: 10px; /* Espace entre les compétences */
  }
  
  .skill-bar {
    width: 80%;
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    margin-left: 50px;
    flex-basis: calc(50% - 10px);
  }
  
  .skill-percentage {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
    transition: width 1s ease-in-out;
    background-image: linear-gradient(to right, #A7365E, #FE85A9, #F7F5DD, #00C89A,#005A38 80%);
  }
  
  
  
  