@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@400;700&display=swap');
@import url('colors.css');

body {
    font-family: 'Montserrat', sans-serif; /* Utilisée pour le texte principal */
  }
  
  h1, h2, h3 {
    font-family: 'Playfair Display', serif; /* Utilisée pour les titres */
    color: var(--color-dusty-rose);
  }